<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">
<head>
    <title>
        Rooms
    </title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" th:href="@{/}">Hotel Booking</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/rooms/list}">Rooms</a>
            </li>
            <li class="nav-item">
                <a class="nav-link "th:href="@{/bookings/list}">Bookings</a>
            </li>
        </ul>
        <div class="nav navbar-nav navbar-right">
            <div class="col">
                <p sec:authentication="name" class="text-white"></p>
            </div>
            <form action="#" th:action="@{/logout}" method="POST">
                <input type="submit" value="Logout"/>
            </form>
        </div>
    </div>
</nav>
<body>


<div class="container">
    <br>
    <a th:href="@{/bookings/create}" class="btn btn-primary btn-sm mb-3">
        New Booking
    </a>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>FirstName</th>
            <th>Last Name</th>
            <th>Room Number</th>
            <th>Price</th>
            <th>Check In Date</th>
            <th>Check Out Date</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="booking:${bookings}" >
            <td th:text="${booking.firstName}" />
            <td th:text="${booking.lastName}"/>
            <td th:text="${booking.roomNo}"/>
            <td th:text="${booking.price}"/>
            <td th:text="${booking.checkInDate}"/>
            <td th:text="${booking.checkOutDate}"/>
            <td th:text="${booking.status}"/>
            <td><a th:href="@{/bookings/update(bookingId=${booking.id})}" class="btn btn-info btn-sm">View</a></td>

        </tr>
        </tbody>
    </table>

</div>

</body>
</html>